    body {
        display: flex;
        justify-content: center;
    }
    
    #container {
        width: 100%;
        border: 1px solid #000;
    }
    
    #titleName {
        margin: 20px;
    }
    
    #title {
        margin-left: 30px;
    }
    
    #infoInput {
        /* border: 1px solid #000; */
    }
    
    #product,
    #otherInfo {
        display: flex;
        justify-content: center;
    }
    
    #pName,
    #pQuanlity,
    #pPrice,
    #pDiscount {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 40%;
    }
    
    label {
        font-size: 20px;
    }
    
    input {
        height: 20px;
        margin-left: 10px;
    }
    
    #enterPPrice {
        margin-left: 40px;
    }
    
    #noti1,
    #noti2,
    #noti3,
    #noti4 {
        margin-left: 10px;
        font-size: 80%;
        color: red;
        width: 50px;
        /* border: 1px solid #000; */
    }
    
    #click {
        display: flex;
    }
    
    #click>button {
        height: 30px;
        width: 100px;
        margin: 20px;
        margin-left: 50px;
    }
    /*--------------------------------------*/
    
    #bill {
        display: flex;
        justify-content: center;
    }
    
    #head-table,
    #body-table {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    table {
        width: 70%;
        border-collapse: collapse;
    }
    
    #b-content {
        margin-bottom: 50px;
    }
    
    th {
        border: 1px solid #000;
        font-size: 20px;
    }
    
    .id {
        width: 10.9%;
    }
    
    .pN {
        width: 27.3%;
    }
    
    .q,
    .d {
        width: 12.7%;
    }
    
    .uP,
    .sT {
        width: 18.2%;
    }
    
    #b-content td {
        text-align: center;
        vertical-align: center;
        border: 1px solid #000;
    }